html.body{
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-page{
    background: linear-gradient(270.23deg, #A5DEFF 1.34%, #FCFEFE 99.8%);

}

.wrapper{
    width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-page-text-container{
    background: #FFFFFF;
    border-radius: 40px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}
.logo{
    margin-top: 34px;
    margin-bottom: 60px;
}

.main-page-button{
    background: #FF6B0A;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.main-page-description{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 60px;

}

.main-page-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1B1D1F;
    margin-bottom: 24px;
}

.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 32px;
}
.gus-facts{
    padding-top: 48px;
    padding-bottom: 100px; 
    text-align: center;
}

.gus-facts-descriptions{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1B1D1F;
    width: 772px;
    margin: auto;
    margin-bottom: 24px;

}

.gus-fact{
    width: 374px;
}

.gus-fact-titles{
    margin-top: 8px;
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #1B1D1F;
}

.fact{
    font-size: 30px;
    color: #1B1D1F;
}

.gus-fact-descriptions{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1B1D1F;
}

.gus-fact-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #1B1D1F;
    margin-top: 0px;
    margin-bottom: 32px;
}
.form-section{
    background: linear-gradient(270.23deg, #A5DEFF 1.34%, #FCFEFE 99.8%);
    padding-top: 80px;
    padding-bottom: 80px;
}

.formm-conteiner{
    background: #FFFFFF;
    border-radius: 40px;
    padding-top: 32px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;
    width: 573px;
    text-align: center;
    box-sizing: border-box;
}

.form-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 12px;
    margin-top: 32px;
    
}
.form-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 24px;
}

.form-field-lable{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #1B1D1F;
}
.form-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
}
.form-field-email{
    margin-bottom: 48px;
}

.form-field-input{
    border: 1px solid #005bbb;
    background: #FFFFFF;
    border-radius: 8px;
    width: 453px;
    height: 60px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    padding-left: 8px;
    padding-right: 8px;
}

.form-btn{
    background: #FF6B0A;
    border-radius: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
  
  
}
.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}